/* Dropdown */
.nav__dropdown {
    overflow: hidden;
    max-height: 30px;
    transition: .4s ease-in-out;
  }
  
  .nav__dropdown-collapse {
    background-color: #2a6285;
    /* background-color: #9fa1a1; */
    border-radius: 10px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .nav__dropdown-content {
    display: grid;
    row-gap: .5rem;
    padding: .75rem 2.5rem .75rem 1.8rem;
  }
  
  .nav__dropdown-item {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: white;
  }
  
  .nav__dropdown-item:hover {
    color: #070ab1;
  }
  
  .nav__dropdown-icon {
    margin-left: auto;
    transition: .4s;
  }
  
  /* Show dropdown collapse */
  .nav__dropdown:hover {
    max-height: 100%;
  }
  
  /* Rotate icon arrow */
  .nav__dropdown:hover .nav__dropdown-icon {
    transform: rotate(180deg);
  }
  
  /*===== Show menu =====*/
  .show-menu {
    left: 0;
  }
  
  /*===== Active link =====*/
  .active {
    color: var(--first-color);
  }

/* ----------------------------------------------------------------------------- */
/* navbar-side */
.navbar-side {
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0px;
    transition: all 0.6s ease-in;
}

.navbar-side.onDesktop {
    left: -250px;
}

.menu-item {
    margin:0px;
}

.menu-link {
    line-height: 40px;
    display: block;
    color: #ffffff;
}

.menu-link .icon {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 0;
    width: 30px;
}

/* navbar-top */
.navbar-top {
    margin-left: 220px !important;
    transition: all 0.6s ease-in;
}

.navbar-top.onDesktop {
    margin-left: 0 !important;
}

.burger-icon {
    width: 16px !important;
    height: auto;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    opacity: 0;
}

/* content */
.content {
    margin-top: 65px;
    margin-left: 260px;
    transition: all 0.6s ease-in;
}

.content.onDesktop {
    margin-left: 10px;
}

table, th, td {
    border:1px solid black;
}

/* button dashboard */
.btn-db {
    color: #fff;
    background-color: #4FCF43;
    border-color: #4FCF43;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 65px;
    height: 65px;
    margin:10px;
}
.btn-db:hover {
  color: #fff;
  background-color: #227dc7;
  border-color: #2176bd;
}
.btn-db:focus, .btn-db.focus {
  color: #fff;
  background-color: #227dc7;
  border-color: #2176bd;
  box-shadow: 0 0 0 0.2rem rgba(82, 161, 225, 0.5);
}
.btn-db.disabled, .btn-db:disabled {
  color: #fff;
  background-color: #dc3434;
  border-color: #3490dc;
}
.btn-db:not(:disabled):not(.disabled):active, .btn-db:not(:disabled):not(.disabled).active, .show > .btn-db.dropdown-toggle {
  color: #fff;
  background-color: #2176bd;
  border-color: #1f6fb2;
}
.btn-db:not(:disabled):not(.disabled):active:focus, .btn-db:not(:disabled):not(.disabled).active:focus, .show > .btn-db.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 161, 225, 0.5);
}

table, th, td {
  border-style: hidden;
}

.btn-label {
  color: #fff;
  background-color: #2a6285;
  border-color: #2a6285;
  width: 65px;
  height: 65px;
  margin:10px;
}

/* css tabel */

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width:20%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 3px 3px 3px 5px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 15px; /* Increase font-size */
}

 #myTable td {
  text-align: center; /* Left-align text */
  padding: 5px; /* Add padding */
}

#myTable th{
  text-align: center; /* Left-align text */
  padding: 10px; /* Add padding */
  background-color: #013555;
  color:#fff;
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}